* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  h1{
      text-align: center;
      font-size: 4em;
  }
   
  body {
    height: 100vh;  
    /* vh means view height */
    width: 100vw;
    /* vw means view width  this is why everything fits in the page*/
  }
   
  .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    height: 150vh;
    width: 100vw;
    perspective: 1000px;
    cursor: pointer;
    
    
  }
   
  .ResetBoard {
    height: 30px;
    width: 100px;
    background-color: rgb(204, 151, 211);
    font-size: 15px;
  }
  .card.flip{
    transform: rotateY(180deg) /* flips the card  180 degrees */

  }
  .card{
      transform-style: preserve-3d;
      transition: .5s; /* gives card 3-d imaginig that helps it to flip over */
     
      
      

  }
  .front-face {
    transform: rotateY(180deg); /* reveals the second card */
  }

  
 .front-face,
 .back-face {
    background-color: rgb(211, 147, 206);
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    padding: 20px;
     position: absolute; 
     /*positions the pictures on top of one another  */

 }

 .card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
    

  
  .section{
    display:flex;
   justify-content:space-between;
    font-size: 30px;
    font-weight: 400;
  }
  .score{
  
    font-size: 30px;
    font-weight: bold;
  

  }
  .timer{
    display: flex;
    font-size: 30px;
    font-weight: bold;
  }


  
  :root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
